* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#top {
  display: flex;
  justify-content: space-around;
  background-color: rgb(130, 174, 70);
  padding: 5px;
}

nav ul {
  list-style-type: none;
  padding: 10px;
  margin: 0px 40px;
}

nav ul li a:hover {
  border-bottom: 2px solid black;
}

#cart {
  font-size: 23px;
}

nav ul li {
  float: right;
  margin: 2px 5px;
  padding: 0px 10px;
}

#logo {
  float: left;
  color: rgb(130, 174, 70);
  font-size: 23px;
  font-weight: bolder;
}

#carasol {
  width: 100vw;
  height: 100vh;
  animation: bgChange 7.5s linear infinite;
  background-size: cover;
  margin-bottom: 30px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

@keyframes bgChange {
  0% {
    background-image: url(./img/bg-1.png);
  }

  25% {
    background-image: url(./img/bg-2.png);
  }

  50% {
    background-image: url(./img/about.jpg);
  }

  75% {
    background-image: url(./img/image_3.jpg);
  }

  100% {
    background-image: url(./img/image_6.jpg);
  }
}

#btn-carasol {
  background-color: rgb(130, 174, 70);
  border: 2px solid rgb(130, 174, 70);
  color: #fff;
  border-radius: 4rem;
  padding: 12px 15px;
  font-size: 25px;
  margin-top: 10px;
  transition: 0.5s;
}

#btn-carasol:hover {
  background-color: transparent;
}

#cards-cirle {
  display: flex;
  animation: circular 20s linear infinite;
  justify-content: space-evenly;
}

#cards-cirle:hover {
  animation-play-state: paused;
}

.para-cards {
  text-align: center;
}

.card {
  border-radius: 50%;
  background-color: rgb(130, 174, 70);
  padding: 20px;
  margin: 5px 70px;
  transition: 0.5s ease-in;
}

#cards-cirle:hover> :not(:hover) {
  opacity: 0.5;
}

.card img {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.548);
  border-radius: 50%;
}

.cards-2 {
  margin: 70px 0px;
}

.cards-2 .parent {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  height: 70vh;
  grid-row-gap: 10px;
}

.cards-2 .parent .div1 {
  grid-area: 1 / 1 / 2 / 2;
  background-image: url(./img/category-1.jpg);
  background-size: cover;
  display: flex;
  align-items: end;
}

.cards-2 .parent .div2 {
  grid-area: 1 / 2 / 3 / 3;
}

.cards-2 .parent .div3 {
  grid-area: 1 / 3 / 2 / 4;
  background-image: url(./img/category-3.jpg);
  background-size: cover;
  display: flex;
  align-items: end;
}

.cards-2 .parent .div4 {
  grid-area: 2 / 1 / 3 / 2;
  background-image: url(./img/category-2.jpg);
  background-size: cover;
  display: flex;
  align-items: end;
}

.cards-2 .parent .div5 {
  grid-area: 2 / 3 / 3 / 4;
  background-image: url(./img/category-4.jpg);
  background-size: cover;
  display: flex;
  align-items: end;
}

.cards-2 .parent a {
  font-size: 30px;
  padding: 5px;
  color: white;
  background-color: rgb(130, 174, 70);
  text-decoration: none;
}

.div2 {
  background-image: url(./img/category.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

.div2 h1 {
  color: rgb(130, 174, 70);
  font-size: 40px;
}

.div2 button {
  padding: 5px 15px;
  font-size: 25px;
  border-radius: 4rem;
  border: 2px solid rgb(130, 174, 70);
  color: white;
  background-color: rgb(130, 174, 70);
  transition: 0.5s;
}

.div2 button:hover {
  background-color: transparent;
  color: rgb(130, 174, 70);
}

.cards-3 h1,
.cards-3 p {
  text-align: center;
  margin-bottom: 25px;
}

.cards-3 {
  padding: 5px 30px;
}

#card-title {
  font-size: 20px;
  color: rgb(130, 174, 70);
}

.cards-3 .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.offer {
  /* justify-self: flex-start;
  align-self: flex-start; */
  background-color: rgb(130, 174, 70);
  padding: 5px;
}

.box {
  /* height: 200px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 15px 0px;
}

.box img {
  mix-blend-mode: color-burn;
}

.pro-color {
  color: rgb(130, 174, 70);
}

.box img:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

.timer-screen {
  height: 100vh;
  background-image: url(./img/bg_3.jpg);
  margin: 70px 0px;
}

#left-screen {
  gap: 10px;
  display: flex;
  flex-direction: column;
  float: right;
  backdrop-filter: brightness(60%);
  padding: 30px;
  height: inherit;
}

.clr-title {
  color: rgb(130, 174, 70);
}

#timer-screen-para {
  font-size: 25px;
}

.testimony {
  margin: 90px 0px;
  padding: 10px 30px;
  text-align: center;
}

.testimony-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#persons {
  margin: 70px 50px;
  display: grid;
  place-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

.person {
  /* width: 200px;
  height: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.person img {
  height: 170px;
  border-radius: 50%;
  width: 170px;
}

/* .circle{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  margin:auto;
  background-color: gray;
  transform:translate(110px,-66px);
} */
.companies-outer {
  width: 100vw;
  overflow-x: hidden;
}

.companies {
  margin: 70px 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 0px;
  /* overflow-x: visible; */
  /* scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  scroll-behavior: smooth; */
  /* scrollbar-width: 0; */
  animation: circular 20s linear infinite;
}

.companies:hover> :not(:hover) {
  opacity: 0.5;
}

.companies:hover {
  animation-play-state: paused;
}

@keyframes circular {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-120%);
  }
}

#newsletter {
  background-color: antiquewhite;
}

.newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 70px;
}

#left {
  margin: 70px 40px;
}

#right {
  margin: 70px 40px;
}

#right input:not(#btn) {
  width: 300px;
  padding: 5px 15px;
  font-size: 30px;
  margin: 0;
}

#btn {
  /* width: 10px; */
  background-color: rgb(130, 174, 70);
  color: white;
  padding: 4px 15px;
  font-size: 30px;
  margin: 0;
}

.upper {
  background-color: rgb(130, 174, 70);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: relative;
  bottom: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.upper ion-icon {
  font-size: 30px;
  position: relative;
  animation: up-arrow 1s ease-in-out infinite;
}

@keyframes up-arrow {
  from {
    bottom: 0px;
  }

  to {
    bottom: 12px;
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.footer ul {
  list-style-type: none;
  margin: 50px 30px;
}

.footer ul li {
  padding: 15px;
}

.footer ul li h3 {
  font-style: 30px;
  font-weight: 600;
}

footer .logo {
  display: flex;
  margin-left: 50px;
  margin-bottom: 90px;
  gap: 20px;
}

footer .logo .logo-circle {
  height: 60px;
  display: grid;
  place-items: center;
  width: 60px;
  background-color: rgba(233, 229, 225, 0.726);
  border-radius: 50%;
}

footer .logo .logo-circle .logos {
  font-size: 30px;
}

#last-line {
  text-align: center;
  margin-bottom: 90px
}

#responsive {
  display: none;
}

@media screen and (max-width:900px) {
  #top {
    display: flex;
    flex-direction: column;
  }

  .cards-2 .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .cards-2 .parent .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .cards-2 .parent .div2 {
    grid-area: 3 / 1 / 4 / 3;
  }

  .cards-2 .parent .div3 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .cards-2 .parent .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .cards-2 .parent .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .cards-3 .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media screen and (max-width:768px) {
  #responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards-2 .parent {
    font-size: 10px;
  }

  #nav-2 {
    width: 100vw;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
  }

  #three-lines {
    font-size: 30px;
  }

  #nav-3 {
    padding: 40px 4px;
    position: absolute;
    top: 100px;
    background-color: #efefef;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    gap: 20px;
    width: 100vw;
  }

  #nav-3 li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }

  #nav-1 {
    display: none;
  }

  #nav-3 {
    display: none;
  }

  #carasol {
    text-align: center;
    height: 70vh;
    font-size: 20px;
  }

  #btn-carasol {
    font-size: 15px;
  }

  .cards-3 .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 2fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .timer-screen {
    height: 60vh;
    background-size: cover;
  }

  #persons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  .newsletter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    place-items: center;
    margin: 30px;
  }

  #btn {
    font-size: 20px;
    text-align: center;
    border: 2px solid rgb(130, 174, 70);
  }

  .upper {
    bottom: 33px;
  }

  #top {
    font-size: 14px;
  }

  .para-cards {
    font-size: 12px;
  }

  .card {
    padding: 12px;
  }

  .card img {
    height: 50px;
    padding: 0px;
    width: 50px;
    border: 0;
  }

  .cards-2 .parent a {
    font-size: 15px;
  }

  .cards-2 .parent .div2 h1, .div2 button {
    font-size:medium;
  }
}
@media screen and (max-width:564px) {
  #carasol {
    text-align: center;
    height: 50vh;
    font-size: 15px;
  }

  #btn-carasol {
    font-size: 10px;
  }

  .cards-2 .parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }

  .cards-2 .parent .div1 {
    grid-area: 1 / 1 / 2 / 2;
    height: 200px;
  }

  .cards-2 .parent .div2 {
    grid-area: 2 / 1 / 3 / 2;
    height: 200px;
  }

  .cards-2 .parent .div3 {
    grid-area: 3 / 1 / 4 / 2;
    height: 200px;
  }

  .cards-2 .parent .div4 {
    grid-area: 4 / 1 / 5 / 2;
    height: 200px;
  }

  .cards-2 .parent .div5 {
    grid-area: 5 / 1 / 6 / 2;
    height: 200px;
  }

  .cards-3 .parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
  }

  #persons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
  }
}